
*.log
*.pyc
Code/NetworkTalk/__pycache__/__init__.cpython-310.pyc
Code/logfile.log
.idea/workspace.xml
.idea/misc.xml
.idea/discord.xml
.idea/5 units Project.iml
*.iml
Code/.idea/misc.xml
*.xml
*.crt
*.key
*.db
*.toc
*.pkg
*.spec
*.crt
*.key
*.crt
